
*{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    max-width: 300px;
}

.btn-inscription{
    background-color: rgb(245, 113, 51);
    font-size: 1em;
}
.rose{
    color: rgb(245, 113, 51);
}

.title{
    font-weight: 450;
    max-width: 800px;
}

.inscription{
    font-size: 1.1em;
}
.section{
    max-height: 90vh;
}
.pourquoi{
 font-weight: 200;
 padding-left: 150px;
 padding-right: 150px;
}

.faktyline{
    margin-left: 90px;
}

.nbre{
    width: 55px;
    height: 30px;
    border-radius: 50%;
}

.dashboard{
    max-width: 1300px;
}

  
  .text-primary {
    color: rgb(215, 96, 60);
  }
  
  .max-h-75 {
    max-height: 75vh; /* Limite la hauteur de l'image pour éviter la distorsion */
  }

  .align-self-start {
    align-self: flex-start;
  }

.titles{
    font-size: 3em;
}

/* Pour que l'image SVG occupe tout l’espace du conteneur */
.full-img {
    width: 300%;
    height: 100%;
    object-fit: contain; /* Utilise contain pour éviter la déformation */
}


.sections{
    height: 170vh;
}

/* Permet à l'image de déborder des côtés */
.full-img {
    position: relative;
    width: auto; /* Permet à l'image de garder une largeur dynamique */
    height: auto;
    min-width: 500px; /* Largeur minimale */
    min-height: 1000px; /* Hauteur minimale */
    object-fit: cover; /* Remplit l'espace sans déformer l'image */
    display: block;
    margin: 0 auto;
    transform: translateX(-50px); /* Décalage horizontal pour créer l'effet de débordement */
    z-index: 1;  /*Assure que l'image passe par-dessus le contenu environnant */
}


.circle {
    width: 45px;                /* Largeur fixe du cercle */
    height: 45px;               /* Hauteur fixe du cercle */
    background-color: #f57133;  /* Couleur de fond */
    color: #fff;                /* Couleur du texte */
    font-size: 1em;          /* Taille de police pour le contenu */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;         /* Pour un cercle parfait */
    text-align: center;
    line-height: 1;             /* Empêche l'espacement vertical */
    flex-shrink: 0;             /* Empêche le cercle de rétrécir */
}
.roundeds{
    border-radius: 20px;
}






.image-container {
    position: relative;
    width: 100%; /* Adjust width as needed */
    max-width: 350px; /* To control the max size */
    height: 400px;      /* Hauteur du conteneur, ajustable */
    margin-left: 20px;
  }


/* Style de l'image principale */
.main-image {
    position: absolute;
    right: 0;           /* Positionnée à droite sans espace */
    bottom: 0;          /* Positionnée au bas sans espace */
    width: 100%;        /* Ajustez pour couvrir horizontalement le conteneur */
    height: auto;       /* Conserve le ratio de l'image */
    transform: translateX(0%) translateY(15%); /* Centre en X et ajuste en Y */
}

/* Style de l'image en overlay */
.overlay-image {
    position: absolute;
    left: 0;          /* Positionnement horizontal au centre de l'image principale */
    transform: translateX(-30%) translateY(1%); /* Centre en X et ajuste en Y */
    width: 40%;         /* Taille de l'image en overlay, ajustez selon besoin */
    bottom: 0;          /* Aligné au bas de `.main-image` */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Ombre pour l’effet de profondeur */
    border-radius: 8px; /* Coins arrondis */
}

.optimisez{
    margin: auto;
    width: 1100px;
    justify-self: center;
}

.document2{
    margin-right: 40px;
}

@media (min-width: 200px) and (max-width: 1200px) {
    .optimisez{
        justify-self: center;
        width: 80%; /* Largeur de 80% de l'écran pour cet intervalle */
    }
}
@media (min-width: 600px) and (max-width: 1200px) {
    .cards {
        width: 80%; /* Largeur de 80% de l'écran pour cet intervalle */
        max-width: 270px; /* Limite maximale de 800px pour l'élément */
    }
}
  

@media (max-width: 1496px) {
    .sections{
        max-height: 210vh;
    }
    .section{
        max-height: 120vh;
    }
    .dashboard{
        max-width: 1100px;
    }

}
@media (max-width: 1277px) {
    .sections{
        max-height: 165vh;
    }
    .section{
        max-height: 90vh;
    }
    .faciles{
        margin-top: 200px;
    }
    .dashboard{
        max-width: 1000px;
    }
    .pourquoi{
        padding-left: 80px;
        padding-right: 80px;
    }
    .pourquoi_col{
        min-width: 200px;
    }
    
}
@media (max-width: 1192px) {
    .pourquoi_coll{
        margin-right: 50px;
    }
}
@media (max-width: 1000px) {
    .dashboard{
        max-width: 800px;
    }
    .faciles{
        margin-top: 200px;
    }
    .section{
        max-height: 80vh;
    }
    .sections{
        max-height: 145vh;
    }
}



/* Ajustement responsive pour les petits écrans */
@media (max-width: 991px) {
    .full-img {
        min-width: auto; /* Retire la contrainte de largeur minimale sur les petits écrans */
        min-height: auto; /* Retire la contrainte de hauteur minimale sur les petits écrans */
        width: 100%; /* Adapte l'image à la largeur du conteneur */
        transform: none; /* Annule le décalage pour les petits écrans */
    }
    .image-container {
        display: none;
        width: 100%;
    }
    .documents{
        margin-bottom: 20px;
    }
    .logo{
        max-width: 190px;
        height: 30px;
    }
    .optimise{
        width: 100%;
        margin-left: 40px;
        margin-right: 40px;
       }
    
}



@media (max-width: 957px) {
    
    .facture{
        margin: none;
    }

    .titles{
        font-size: 2.3em;
    }
    
}

@media (max-width: 860px) {
    .dashboard{
        max-width: 600px;
    }
    .sections{
        max-height: 120vh;
    }
    .section{
        max-height: 75vh;
    }
}
@media (max-width: 800px) {
    .pourquoi{
        padding-left: 20px;
        padding-right: 20px;
       }
       
       .pourquoi h2{
           max-width: unset;
       }
       
}
@media (max-width: 769px) {
    .faktyline{
        margin-left: inherit;
    }
    .documents{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .progresss{
        margin: auto;
    }
    .section{
        max-height: 85vh;
    }
}
@media (max-width: 678px) {
    .dashboard{
        max-width: 400px;
    }
    .faciles{
        margin-top: 90px;
    }
    .sections{
        max-height: 100vh;
    }
    .section{
        max-height: 75vh;
    }
}
@media (max-width: 443px) {
    .section{
        max-height: 72vh;
    }
    .dashboard{
        max-width: 310px;
    }
    .faciles{
        margin-top: 85px;
    }
}
@media (max-width: 387px) {
    .section{
        max-height: 78vh;
    }
    .faciles{
        margin-top: 70px;
    }
}