
*{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.logo{
    max-width: 300px;
}

.btn-inscription{
    background-color: rgb(215, 96, 60);
    font-size: 1em;
}
.rose{
    color: rgb(215, 96, 60);
}

.title{
    font-weight: 450;
    max-width: 800px;
}

.inscription{
    font-size: 1.1em;
}
.section{
    max-height: 90vh;
}
.pourquoi{
 font-weight: 200;
 padding-left: 150px;
 padding-right: 150px;
}

.pourquoi h2{
    font-weight: 600;
    font-size: 2em;
    max-width: 800px;
}
.facile{
    margin-top: 200px;
}

.faktyline{
    margin-left: 90px;
}

.nbre{
    width: 55px;
    height: 30px;
    border-radius: 50%;
}

  
  .text-primary {
    color: rgb(215, 96, 60);
  }
  
  .max-h-75 {
    max-height: 75vh; /* Limite la hauteur de l'image pour éviter la distorsion */
  }

  .align-self-start {
    align-self: flex-start;
  }

@media (max-width: 1496px) {
    .section{
        max-height: 110vh;
    }
}
@media (max-width: 1277px) {
    .section{
        max-height: 90vh;
    }
    .facile{
        margin-top: 200px;
    }
    .cards{
        max-width: 550px;
    }
    .pourquoi{
        padding-left: 80px;
        padding-right: 80px;
       }
       
       .pourquoi h2{
           max-width: unset;
       }
}
@media (max-width: 990px) {
    .section{
        max-height: 60vh;
    }
    .facile{
        margin-top: 0;
    }
    
}

@media (max-width: 957px) {
    .section{
        max-height: 130vh;
    }
    .facile{
        margin-top: 100px;
    }
    
    .facture{
        margin: none;
    }
    
}
@media (max-width: 991px) {
    .section{
        max-height: 130vh;
    }
    .facile{
        margin-top: 100px;
    }
    .documents{
        margin-bottom: 20px;
    }
    .logo{
        max-width: 190px;
        height: 30px;
    }
    
}

@media (max-width: 800px) {
    .pourquoi{
        padding-left: 20px;
        padding-right: 20px;
       }
       
       .pourquoi h2{
           max-width: unset;
       }
}
@media (max-width: 769px) {
    .faktyline{
        margin-left: inherit;
    }
}